body{
    background-color: rgb(32, 32, 32);
    background-size: cover;
    width: 100%; 
    max-width: 2000px;

    
}
.wuwu{
    position: relative;
    top: 2000px;

}


header{
background-image:url(/photos/bettercallsaulposter.jpg);
width: 100%;
background-size: cover;
background-repeat: no-repeat;
height: 900px;
margin-left: 10px;
scale: 1.1;
}

.navigation{
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    z-index: 2;
    
  
}

.menu{
    
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-top: 40px;
}


.menu li {
    list-style-type: none;
}

li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    margin-top: -5px;
    padding: 0px 40px;
    font-size: 20px;
    line-height: 1;

    
   
}



.fa-solid,fa-magnifying-glass{
    color: white;
    margin-left: 10px;
}

.BetterCallSaulPoster{
    width: 100%;
    height: 900px;
    margin-left: 0px;
    
}

a:hover{
    font-size: 22px;
    color: red;
}

.logo{
    margin-top: 0px;
    color: red;
    list-style-type: none;
    margin-left: -300px;
    font-size: 30px;
    margin-top: 20px;
    z-index: 2;
}

.fa-solid.fa-magnifying-glass:hover{
    color: red;
}

h1{
    position: absolute;
    margin-top: 920px;
    margin-left: 790px;
    font-size: 25px;
    color: white;
    font-family: 'Zen Dots', cursive;
    text-shadow: white;
}

.movies{
    padding: 0 200px;
}
.mrrobot{
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin-top: 1000px;
    margin-left: 100px;
    border-radius: 10px;
    transition-property: all;
}

.mrrobot:hover{

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.prisonbreak{
    width: 100%;
    max-width: 400px;
    margin-top: 1000px;
    margin-left: 100px;
    border-radius: 10px;
    transition-property: all;
    height: 500px;
}

.prisonbreak:hover{

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.breakingbad{
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin-top: 1000px;
    margin-left: 100px;
    border-radius: 10px;
    transition-property: all;
}

.breakingbad:hover{

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.bettercallsaul{
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    transition-property: all;
}

.bettercallsaul:hover{

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.daredevil{
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    transition-property: all;
}

.daredevil:hover{

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.blackmirror{
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    transition-property: all;
}

.blackmirror:hover{

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.burgerbar{
    font-size: 30px;
    margin-top: 0px;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    margin-left: 850px;
    display: none;
}